.thirtyOne {
  .thirtyTwo {
    .thirtyTwo_rowOne {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      margin-bottom: 1.25rem;
      color: #655757;
      font-weight: 800;
      margin-top: -0.875rem;
    }
    .thirtyTwo_rowTwo_Sec {
      display: flex;
      align-items: center;
      justify-content: center;

      .thirtyTwo_rowTwo {
        width: 55rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.775rem;
        color: var(--c-seventh);
        font-weight: 600;
        .thirtyTwo_rowTwo_partOne {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55rem;
          background-color: var(--c-eighteen);
          height: 3.5rem;
          border-radius: 1.125rem;

          .thirtyTwo_rowTwo_colOne {
            width: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .thirtyTwo_rowThree {
      display: flex;
      align-items: center;
      justify-content: center;
      .thirtyTwo_rowThree_partOne {
        margin-bottom: 2.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.875rem;
      }
    }
  }
}
