:root {
  --c-primary: #ee601e;
  --c-primary-light: #f6d1c1;
  --c-secondary: #e7e7e7;
  --c-third: #f3f3f3;

  --c-bg: #faf8f5;

  --c-grad: linear-gradient(180deg, #e7e7e7 0%, rgba(95, 95, 95, 0.8) 100%);

  --c-accent: #37c9fc;
  --c-golden: #ffbb36;

  --c-font-dark: #484848;
  --c-font-dark-Alt: #2a2a2a;
  --c-font: #888888;
  --c-font-light: #b8b8b8;
  --c-font-light1: #b4b4b4;

  --c-green: #73d13d;
  --c-green-Alt: #1ba672;

  --c-orange: #fa8c16;
  --c-orange-light: #fff4ee;
  --c-red: #f5222d;
  --c-red-Alt: #ad4949;
  --c-white: #ffffff;
  --c-white-light: rgba(255, 255, 255, 0.9);
  --c-black: #181818;

  --c-dash-fill: #8b909a;
  --c-dash-filler: #f3f4f8;

  --c-border: #e8e8e8;
  --c-border-dark: #d8d8d8;

  --c-light: #f8f8f8;
  --c-light-1: #b8b8b8;

  --c-dark-1: #0d1117;
  --c-dark-2: #24282e;

  --c-pink: #e1306c;
  --c-purple: #b04ddf;
  --c-shadow: rgba(0, 0, 0, 0.25);
  --c-shadow-light: rgba(0, 0, 0, 0.1);
  --c-shadow-bg: rgba(0, 0, 0, 0.3);

  --c-link: #51a5ff;
  --c-blue: #407bd4;

  --message-green: #73d13d;
  --message-red: #ff4d4f;
  --message-yellow: #faad14;
  --message-blue: #40a9ff;

  --c-fourth: #3b2727;
  --c-fifth: #c6c6be44;
  --c-sixth: #c6c6bec4;
  --c-seventh: #897575;
  --c-eight: #ffffff;
  --c-nineth: #6a5b5b;
  --c-tenth: #745e5e;
  --c-eleventh: #dbdbdb;
  --c-twelvth: #eae7e7;
  --c-thirteen: #3f3939;
  --c-forteen: #808080;
  --c-fifteen: #504d4d;
  --c-sixteen: #a1999989;
  --c-seventeen: #f9f9f9;
  --c-eighteen: #f1f1f19c;
  --c-nineteen: #d5d4d4;
}
