.collectionClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .collectionFont {
    color: var(--c-nineth);
  }
}
